@using Microsoft.AspNetCore.Identity
@using ecommerce.Models
@using ecommerce.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Manage" title="Quản lý tài khoản">
                <i class="bi bi-person"></i> @User.Identity?.Name
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="ShoppingCart" asp-action="Index" title="Giỏ hàng">
                <i class="bi bi-cart"></i> Giỏ hàng
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    <i class="bi bi-box-arrow-right"></i> Đăng xuất
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">
                <i class="bi bi-person-plus"></i> Đăng ký
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">
                <i class="bi bi-box-arrow-in-right"></i> Đăng nhập
            </a>
        </li>
    }
</ul>